*{
    font-family: 'Courier New', Courier, monospace;
}
.navbar{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media only screen and (max-width:  600px) {
    /* .body{
        display: none;
    } */
}