.fifthsection-component{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    padding: 1rem;
    .right{
        img{
            border-radius: 20px;
        }
    }

    h4{
        color: #000;
        font-family: "Poppins",Sans-serif;
        font-size: 60px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.2em;
    }
    p{
        color: #000;
        font-family: "Poppins",Sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5em;
    }
}


@media only screen and (max-width:  600px) {
    .fifthsection-component{
        display: block;
        
        .right{
            img{
                border-radius: 20px;
            }
        }
    }
}