.fourth-section{
    text-align: center;
    padding: 2rem 0;
    .cards{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width:  600px) {
    .fourth-section{
        .cards {
            display: flex;
            flex-direction: column; /* Display cards vertically */
            align-items: center; /* Center cards horizontally */
        }
    }
}
    
