.third-section{
    text-align: center;
}
.bottom-items{
    display: flex;
    justify-content: space-around;

    .on-time, .easy ,.sustainable{
        display: flex;
        flex-direction: column;

    }
}
@media only screen and (max-width:  600px) {
    .third-section{
        display: block;
    }
    .bottom-items{
        display: block;
       
    }
    
}