.container-tilt{
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .delivery{
        text-align: center;
    }
    .quality{
        text-align: center;
    }
    .ontime-delivery{
        text-align: center;
    }
}

.line{
    height: 5rem;
    width: 2px;
    background-color: black;
}

@media only screen and (max-width:  600px) {
    .container-tilt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        .delivery{
            text-align: center;
        }
        .quality{
            text-align: center;
        }
        .ontime-delivery{
            text-align: center;
        }
    }

    
}